@model CreateCustomerImageVM


<style>
    #customer {
        display: block;
        width: 45%;
        height: auto;
        margin: 0 auto;
    }


    @@media only screen and (min-width:992px)) {
        #customer {
            margin-left: 35%;
            margin-right: 20%;
        }
    }

    @@media only screen and (min-width:741px) and (max-width:991px) {
        #customer {
            width: 50%;
            margin-left: 30%;
            margin-right: 20%;
        }
    }

    @@media only screen and (min-width:525px) and (max-width:740px) {
        #customer {
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }
    }

    @@media only screen and (max-width:524px) {
        #customer {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }

</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="CustomerId" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
